::root {
}

/* Global Rules  */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
ul li {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*Small Screen*/
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium Screen*/
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large Screen*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*End Global Rules  */

/* Start Header */
.header {
  padding: 20px;
  background: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo img {
  width: 70px;
}

.nav__links {
  position: relative;
}

.burger__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}
.burger__icon span {
  background-color: #333;
  margin-bottom: 4px;
  height: 2px;
  width: 100%;
}

.burger__icon span:nth-child(2) {
  width: 60%;
  transition: 300ms;
}
.burger__icon:hover span:nth-child(2) {
  width: 100%;
}
.nav__links ul {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background-color: #f6f6f6;
  margin: 0;
  min-width: 200px;
  display: none;
}
.nav__links:hover ul {
  display: block;
}
.nav__links ul:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 5px;
  border: 10px solid;
  border-color: transparent transparent #f6f6f6 transparent;
}
.nav_link a {
  display: block;
  padding: 15px;
  transition: 300ms;
}
.nav_link:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}
.nav_link a:hover {
  padding-left: 25px;
}

/* End Header */
