::root {
}

/* Global Rules  */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*Small Screen*/
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium Screen*/
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large Screen*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*End Global Rules  */

/* Start Header */
.header {
  padding: 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo img {
  width: 70px;
}

.nav__links {
  position: relative;
}

.burger__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 30px;
}
.burger__icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
}
.burger__icon span:first-child {
}
.burger__icon span:nth-child(2) {
  width: 60%;
  transition: 300ms;
}
.burger__icon:hover span:nth-child(2) {
  width: 100%;
}
/* End Header */
